body{
	margin: 0px;
	font-family:Microsoft YaHei,微软雅黑,黑体;
	background: #444;
	height: 100%;
}
#div_guide{
	height:50px;
	width:130px;
	text-align:center;
	line-height:50px;
	float: left;
	background: #444;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
#div_guide:hover{
	background: #3169ee;
	cursor:pointer;
}
#div_guide:ACTIVE{
	background: #1044bc;
	cursor:pointer;
}
#div_guide_right{
	height:50px;
	width:130px;
	text-align:center;
	line-height:50px;
	float:right;
	background: #444;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
#div_guide_right:hover{
	background: #3169ee;
	cursor:pointer;
}
#div_guide_right:ACTIVE{
	background: #1044bc;
	cursor:pointer;
}
#div_guide_now{
	height:50px;
	width:130px;
	text-align:center;
	line-height:50px;
	float: left;
	background: #3169ee;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
.guide_ahref:VISITED{
	color:#fff;
}
#div_head{
	height:50px;
	width:100%;
	background: #444;
	color:#fff;
	line-height:50px;
	font-size:20px;
	box-shadow:1px 1px 1px #888;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
.font_text{
	font-size: 25px;
}
.font_title{
	font-size:30px;
}
.font_ahref:link {
 	text-decoration: none;
 	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
.font_ahref:visited {
 	text-decoration: none;
 	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
.font_ahref:hover {
 	color:#3169ee;  
 	cursor:pointer;
 	text-decoration: none;
 	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
.font_ahref:active {
 	color:#1044bc;
 	text-decoration: none;
 	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
#div_login{
	width:140px;
	background:#fff;
	border-radius:20px;
	-moz-border-radius:20px; /* Old Firefox */
	text-align:center;
	line-height:50px;
	height: 50px;
	font-size: 30px;
	background:#3169ee;
	color:#fff;
}
#div_login:HOVER{
	cursor:pointer;
}
#div_register{
	width:140px;
	background:#fff;
	border-radius:20px;
	-moz-border-radius:20px; /* Old Firefox */
	text-align:center;
	line-height:50px;
	height: 50px;
	font-size: 30px;
	background:#ec9640;
	color:#fff;
}
#div_register:HOVER{
	cursor:pointer;
}
#div_usign{
	width:100%;
	height:200px;
	background: #eee; 
	z-index: 1;
	margin-top:50px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
}
#div_band{
	width:100%;
	height: 400px;
	background: #aaa;
}
#cover{
	z-index: 2;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
	position: relative;
	bottom: 0px;
	background: #fff;
}
#showBut{
	width:20px;
	height:20px;
	opacity:0;
	margin-bottom:5px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;	/* Firefox 4 */
	-webkit-transition: all 0.2s;	/* Safari 和 Chrome */
	-o-transition: all 0.2s;	/* Opera */
	position:relative;
	right:10px;
}
#showBut:HOVER{
	cursor:pointer;
}
#hideBut{
	width:20px;
	height:20px;
	position:relative;
	right:10px;
	top:50px;
}
#hideBut:HOVER{
	cursor:pointer;
}
#showBut:HOVER{
	cursor:pointer;
}
#img_band{
	width:100%;
	height: 600px;
	z-index: 1;
}
#div_news_left{
	width:40%;
	margin-left:9%;
	height:400px;
	float: left;
	overflow: hidden;
}
#div_news_right{
	width:40%;
	margin-left:2%;
	height:400px;
	float: left;
	overflow: hidden;
}
#div_news{
	width:100%;
	overflow: hidden;
	height: 400px;
}
#font_news_title{
	font-size:18px;
	overflow: hidden;
	width:100%;
	margin-bottom:12px;
	color:#888;
}
#font_news_title:HOVER{
	cursor:pointer;
	overflow: hidden;
	text-decoration: underline;
}
#bottom{
	height: 200px;
	width: 100%;
	background: #444;
}